<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Pirate!</title>
  </head>
  <body>

    <h2>Create Your Pirate:</h2>
    <form action="/pirates" method="post">
      <h3>Pirate Info:</h3>
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Height: <input type="text" name="pirate[height]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      <h3>Pirate's Ship 1 Info</h3>
      Ship 1 Name: <input type="text" name="pirate[ships][][name]">
      Ship 1 Type: <input type="text" name="pirate[ships][][type]">
      Ship 1 Booty: <input type="text" name="pirate[ships][][booty]">
      <h3>Pirate's Ship 2 Info</h3>
      Ship 2 Name: <input type="text" name="pirate[ships][][name]">
      Ship 2 Type: <input type="text" name="pirate[ships][][type]">
      Ship 2 Booty: <input type="text" name="pirate[ships][][booty]">
      <br>
      <br><input type="submit" value="Submit">
    </form>

  </body>
</html>
